In [2]:
import pandas as pd
import numpy as np

In [3]:
#load data
df = pd.read_csv('data/9217_from2023-11-15to2023-12-15_trader_trading.csv')

,securities_trader,price,buy,sell,securities_trader_id,stock_id,date
0,凱基松山,130.25,0,896,9217,0050,2023-11-15
1,凱基松山,130.30,0,1000,9217,0050,2023-11-15
2,凱基松山,130.45,0,365,9217,0050,2023-11-15
3,凱基松山,130.50,0,1000,9217,0050,2023-11-15
4,凱基松山,130.55,183,2000,9217,0050,2023-11-15
...,...,...,...,...,...,...,...
44092,凱基松山,194.00,1000,0,9217,9958,2023-12-15
44093,凱基松山,195.50,1000,6000,9217,9958,2023-12-15
44094,凱基松山,196.00,1000,1000,9217,9958,2023-12-15
44095,凱基松山,197.00,1000,0,9217,9958,2023-12-15
44096,凱基松山,18.95,0,1000,9217,9962,2023-12-15

In [8]:
result = df.groupby(['stock_id','date']).agg(
    平均價格=pd.NamedAgg(column='price', aggfunc='mean'),
    總買量=pd.NamedAgg(column='buy', aggfunc='sum'),
    總賣量=pd.NamedAgg(column='sell', aggfunc='sum')
)

In [20]:
result[(result['總買量'] >= 200000) | (result['總賣量'] >= 200000)]

                           平均價格      總買量      總賣量
stock_id date
00632R   2023-12-08    4.600000   512000        0
         2023-12-12    4.585000   540000        0
         2023-12-13    4.595000   231000        0
         2023-12-14    4.550000   258000        0
00679B   2023-11-15   29.081429    61205   200000
00687B   2023-11-15   30.063333     7000   201000
00919    2023-12-01   21.745714    71000   247000
         2023-12-05   21.995000   216000     5500
         2023-12-11   22.196667   365000    22000
00929    2023-11-21   18.025000    39210   287000
1101     2023-11-15   33.010000     2031   256000
1314     2023-11-16    9.976667   200000    11000
1718     2023-11-15    8.170000        0   406000
2023     2023-11-21   16.400000    12000   214000
         2023-11-22   17.037500    29000   210000
2303     2023-11-17   49.591667    49000   270000
2405     2023-11-22   18.165385  3053000   757000
         2023-11-23   17.610000   169000  2472000
         2023-11-24   17.200000   925000     5000
         2023-11-27   17.625000        0   925000
2610     2023-11-16   21.770000   249000    73250
         2023-12-01   21.150000        0   231000
2618     2023-11-16   31.614000   219050   150000
2834     2023-11-15   13.150000   670000     2168
         2023-11-16   13.175000   300000     1034
2884     2023-11-29   25.600000   404965     2000
2885     2023-11-27   25.916667     9000   271000
2888     2023-12-11    8.650000    91320   253390
3035     2023-11-20  353.233333   247123   195000
         2023-11-29  370.250000    72005   365407
         2023-12-12  379.527778   222400   235090
3044     2023-12-14  206.142857   176050   214000
3231     2023-11-15   99.760000    84000   220175
         2023-11-22   98.686364   585864    61000
         2023-11-23   96.617391   296225    47200
3701     2023-11-17   75.527500  3458000  3460000
6016     2023-12-04   13.300000        0   240000
6526     2023-11-21  483.781250    11000   307050
         2023-11-22  507.411765     1200   261000
8088     2023-11-27   39.701923   214000    79000
         2023-12-12   43.978846   355000   149000
         2023-12-14   43.875000   214000   184000
         2023-12-15   43.225000   215030   204000

In [17]:
# get stock id = 8088
result_8088 = result.loc[result.index.get_level_values('stock_id') == "8088"]
result_8088

                          平均價格     總買量     總賣量
stock_id date
8088     2023-11-15  41.120000   17000   28345
         2023-11-16  40.125000  134000   24000
         2023-11-17  39.675000   96000  126000
         2023-11-20  40.200000    7000   51000
         2023-11-21  40.253333   53000   13000
         2023-11-22  39.900000   13000   26000
         2023-11-23  40.601515  101000   86000
         2023-11-24  40.050000   35000   26000
         2023-11-27  39.701923  214000   79000
         2023-11-28  39.482353   15000  171000
         2023-11-29  40.446429       0   77000
         2023-11-30  41.075000    2172    2000
         2023-12-01  40.600000    5000    7000
         2023-12-04  42.790000    2060    2002
         2023-12-05  43.340000    6051    1000
         2023-12-06  44.970000    1000    2060
         2023-12-07  44.866667    2000    1000
         2023-12-08  44.666667    7000    5000
         2023-12-11  45.390000    2000    7051
         2023-12-12  43.978846  355000  149000
         2023-12-13  43.875000  174060  136000
         2023-12-14  43.875000  214000  184000
         2023-12-15  43.225000  215030  204000